
.container {

}

.categoryTitle {
    color: #53c286;
}

.item {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.imgContainer {
    position: relative;
    flex: 1;
    height: 500px;
}

.img {
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;

}

.title {
    font-size: 50px;
}

.desc {
    font-size: 20px;
}